$background1: rgb(34, 34, 34);
$background1-light: rgb(48, 48, 48);
$background-light: #E74753;
$details: #ef402f;
$background-text: #FFFFFF;

/*navbar-expand-{-sm|-md|-lg|-xl}*/
$toggle-change: 576px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 600; // sets navbar titles weight
    font-size: 16px;
    color: $background1;
}

main {
    width: 100%;
    height: auto;
    background-color: black;
}

#about {
    height: auto;
    min-height: 100vh;
    background-color: $background1;

    padding-top:3rem; //same as all pages. 80px account for navbar
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    h2 {
        width: 80%;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        color: $background-text;
        border-bottom: solid thin $background-light;
        padding-bottom: 0.5rem;
    }

    #info-container{
        width: 80%;
        background-color: $background1;
    }

    p{
        padding: 1.5rem;
        border-radius: 20px;
        font-weight: bold;
        color: $background-text;
        background-color: $background1-light;
        opacity: 0.7;
    }

}