$background: rgb(24, 43, 73);
$details: #ef402f;
$background-text: rgb(247, 247, 247);

/*navbar-expand-{-sm|-md|-lg|-xl}*/
$toggle-change: 576px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

main {
    width: 100%;
    height: auto;
    background-color: black;
}

#contact{
    height: 100vh;
    background-color: $background-text;

    padding-top: calc(5rem + 80px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media (max-width: $toggle-change){
        padding-top: 0;
        justify-content: center;
    }

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        text-shadow: -5px 5px 10px rgb(34, 34, 34, 0.2);
    }

    
    .icon-container{
        height: 3rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: min(10vw, 3rem);
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 1), 10px 10px 15px rgba(220, 220, 220);
        
        border-radius: 20px;
        transition: all 1s;
    }

    a{
  
        i{
            color: $background;
            font-size: 2rem;
            transition: all 0.3s;
        } 
    }
    

    a:hover{
        border-bottom: solid thin $background;

        i{
            translate: 0px -5px 0px;
            transition: all 0.2s;
        }
    }

    a:active {

        i {
            translate: 0px -3px 0px;
            transition: all 0s;
        }
    }
}
