$background1: rgb(34, 34, 34);
$background1-light: rgb(48, 48, 48);
$background-light: #E74753;
$details: #ef402f;
$background-text: #FFFFFF;

/*navbar-expand-{-sm|-md|-lg|-xl}*/
$toggle-change: 576px;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

main {
    width: 100%;
    height: auto;
    background-color: black;
}

#contact{
    height: 100vh;
    background-color: $background1;

    padding-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media (max-width: $toggle-change){
        padding-top: 0;
        justify-content: center;
    }

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        color: $background-text;
        width: 80%;
        border-bottom: solid thin $background-light;
        padding-bottom: 0.5rem;
        text-align: center;        
    }

    
    .icon-container{
        height: 3rem;
        padding: 2rem;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: min(10vw, 3rem);
        
        border-radius: 20px;
        transition: all 1s;

        background-color: $background1-light;
    }

    a{
  
        i{
            color: $background-text;
            font-size: 2rem;
            transition: all 0.3s;
        } 
    }
    

    a:hover{
        border-bottom: solid thin $background-light;

        i{
            translate: 0px -5px 0px;
            transition: all 0.2s;
        }
    }

    a:active {

        i {
            translate: 0px -3px 0px;
            transition: all 0s;
        }
    }
}
