// $background: rgb(34, 34, 34);
// $details: rgb(207, 114, 114);
// $background-text: rgb(247, 247, 247);

$background: #182b49;
$details: #ef402f;
$background-text: #e5e9f2;

/*navbar-expand-{-sm|-md|-lg|-xl}*/
$toggle-change: 576px;



/*NAVBAR - RESPONSIVE*/
nav{
    
    /*if height changes, .navbar my-0 must change too*/
    background-color: rgb(34, 34, 34, 0.2);
    box-shadow: 0px 2px 50px 0px rgb(34, 34, 34, 0.5);
    
    /*set logos size*/
    #logo{
        width: 50px;
    }

    /*set dropdown button color*/
    .navbar-toggler{

        /*.nav-toggler is button container*/
        padding: 0.4rem; /*gives margin space to button icon*/
        border: none;
        

        /*style hammburger icon*/
        i{
            width: 3vw;
            height: auto;
            color: $background-text;
        }

    }

    /*removes hamburguer button border when clicked*/
    .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    }
    
    /*mquery to set navbar titles right margin only for PC*/
    @media (max-width: $toggle-change){

        /*select only ul tag with class me-2*/
        ul.me-2{
            margin-right: 0 !important;
        }
    }

    /*sets dropdown menu*/
    .navbar-nav{
        font-family: 'Montserrat', sans-serif;
        background-color: none;
        text-align: center;
        border-top: solid thin $details;
        border-bottom: solid thin $details;

        @media (min-width: $toggle-change){
            /*HOW TO PUT LINKS TO RIGTH MARGIN*/
            border-top: none;
            border-bottom: none;
        }

        /*set dropwdown items*/
        .nav-item{
            border-bottom: solid 1px $background-text;
            color: $background-text;
            transition: all 0.3s;

            /*mquery to avoid bot border in navbar titles pc*/
            @media (min-width: $toggle-change){
                border-bottom: none;
            }

            /*set dropdown items text*/
            .nav-link{
                height: auto;
                font-size: 1rem;
                color: $background-text;
            }
        }

        // query for small vp. animate dropdown titles
        @media (max-width: $toggle-change) {
            .nav-item:hover {
                .nav-link{
                    opacity: 0.6;
                }
                transition: all 0.3s;

            }

            .nav-item:active {
                .nav-link {
                    opacity: 0.4;
                }
                transition: all 0s;
            }
        }

        // query for big vp. animate navbar titles
        @media (min-width: $toggle-change){

            .nav-item{
                margin-left: 0.2rem;
                text-align: center;
            }
            .nav-item:hover {
                translate: 0px -3px 0px;
                border-radius: 10px;
                // border-bottom: solid thin $details;
                box-shadow: -5px -5px 10px rgb(229, 233, 242, 0.1), 5px 5px 10px rgb(7, 7, 7, 0.3);
                transition: all 0.3s;
            }
        
            .nav-item:active {
                translate: 0px -2px 0px;
                box-shadow: -5px -5px 10px rgb(229, 233, 242, 0.1), 5px 5px 10px rgb(7, 7, 7, 0.3), inset -5px -5px 10px rgb(229, 233, 242, 0.1), inset 5px 5px 10px rgb(7, 7, 7, 0.3);
                transition: all 0s;
            }
        }

    }

    

}

#navBar{
    //makes navbar color transition
    transition: all 0.5s;
}

.navScroll{
    //class added to navbar when scroll event is activated in js
    background-color: $background;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

nav:hover{
    background-color: $background;
    transition: all 0.5s;
}

/*FOOTER - RESPONSIVE*/
footer, #footer-text-container{
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    padding: 0rem 2rem 0rem 2rem;
    background-color: $background;
    color: $background-text;

    /*query for text size small vp*/
    @media (max-width: $toggle-change){
        #footer-text-container {
            width: 100%;
            padding: 4rem 0rem 0rem 0rem;
        }
        #footer-text {
            font-size: min(2rem, 10vw);
        }
    }

    /*query for text size big vp*/
    @media (min-width: $toggle-change){
        #footer-text-container {
            width: 100%;
            padding: 5rem 5rem 0rem 5rem;
        }
        #footer-text{
            font-size: max(3rem, 2vw);
        }
    }
    
    
    #footer-text {
        margin-bottom: 0rem;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;

        text-align: center;
        transition: all 1.5s;
    }

    // class for when bottom of page is reached
    .footer-text-colored{
        color: $details;
        transition: all 1.5s;
    }


    .holla-button {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.6rem;

        border-radius: 10px;
        border: none;
        margin: 2rem 4rem 4rem 4rem;
        
        background-color: $background;
        color: $background-text;

        box-shadow: -5px -5px 10px rgb(229, 233, 242, 0.1), 5px 5px 10px rgb(7, 7, 7, 0.3);
        transition: all 0.5s;
    }

    #footer-button:hover{
        translate: 0px -0.5px 0px;
        transition: all 0.3s;
    }

    #footer-button:active, #footer-button:visited {
        translate: 0px 0.5px 0px;
        border: none;
        box-shadow: -5px -5px 10px rgb(229, 233, 242, 0.1), 5px 5px 10px rgb(7, 7, 7, 0.3), inset -5px -5px 10px rgb(229, 233, 242, 0.1), inset 5px 5px 10px rgb(7, 7, 7, 0.3);
        transition: all 0s;
    }

    a, a:hover, a:active{
        color: $background-text;
        text-decoration: none;
    }

    #copyright {
        width: 100%;
        padding-top: 0.5rem;

        display: flex;
        justify-content: flex-start;

        opacity: 0.6;
        border-top: solid thin $details;
    }

    #copyright > p {
        font-size: 0.5rem;
    }
}

