$background: rgb(18, 18, 18);
$details: rgb(229, 168, 229);
$background-text: white;

/*navbar-expand-{-sm|-md|-lg|-xl}*/
$toggle-change: 768px;



/*NAVBAR - RESPONSIVE*/
nav{
    
    /*if height changes, .navbar my-0 must change too*/
    background-color: rgb(0, 0, 0, 0.2);
    box-shadow: -30px 40px 50px 70px rgb(0, 0, 0, 0.11), 30px 40px 50px 70px rgb(0, 0, 0, 0.1);
    /*set logos size*/
    #logo{
    width: 70px;
    }

    /*set dropdown button color*/
    .navbar-toggler{

        /*.nav-toggler is button container*/
        padding: 0.4rem; /*gives margin space to button icon*/
        border: none;

        /*style hammburger icon*/
        i{
            width: 3vw;
            height: auto;
            color: $background-text;
        }

    }

    /*removes hamburguer button border when clicked*/
    .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    }
    
    /*mquery to set navbar titles right margin only for PC*/
    @media (max-width: $toggle-change){

        /*select only ul tag with class me-2*/
        ul.me-2{
            margin-right: 0 !important;
        }
    }

    /*sets dropdown menu*/
    .navbar-nav{
        background-color: none;
        text-align: center;
        border-top: solid $details;
        border-bottom: solid 1px $details;

        @media (min-width: $toggle-change){
            /*HOW TO PUT LINKS TO RIGTH MARGIN*/
            border-top: none;
            border-bottom: none;
        }

        /*set dropwdown items*/
        .nav-item{
            border-bottom: solid 1px $background-text;
            color: $background-text;
            opacity: 1;

            /*mquery to avoid bot border in navbar titles pc*/
            @media (min-width: $toggle-change){
                border-bottom: none;
            }

            /*set dropdown items text*/
            .nav-link{
                font-size: 1rem;
                color: $background-text;
            }
        }

    }

    

}

#navBar{
    //makes navbar color transition
    transition: all 0.7s;
}

.navScroll{
    //class added to navbar when scroll event is activated in js
    background-color: $background;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
