$background: #182b49;
$details: #ef402f;
$background-text: #e5e9f2;

/*navbar-expand-{-sm|-md|-lg|-xl}*/
$toggle-change: 576px;

/*PC display*/
$pc-viewport: 1024px;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

main {
    width: 100%;
    height: auto;
    background-color: black;
}

/*HOME*/
#home{
    height: 100vh;
    

    display: flex; //ensures #hero-text is centered
    align-items: center;
    justify-content: flex-start;

    background-color: black; //sets background color
}

#home-img{
    /*container that only has bg image and reduced opacity.
     works with #home bg color to increase readability*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    opacity: 0.9;

    background-image: url(/images/heroimg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; // ensures img center is always in screen center
}

/*query for  hero-text in small vp*/
@media (max-width: $toggle-change) {
    #hero-text {
        margin-left: calc(50px + 0.25rem);
    }

    #main-title {
        font-size: max(7vh,3.5rem);
    }
    #home-text {
        font-size: max(4vh, 1.5rem);
    }
}

/*query for  hero-text in big vp*/
@media (min-width: $toggle-change) {
    #hero-text {
        margin-left: 15%;
    }

    #main-title {
        font-size: max(10vh, 3.5rem);
    }

    #home-text {
        font-size: max(6vh, 1.5rem);
    }
}

#hero-text{

    /*necesary. otherwise text appears with lower opaccity*/
    position: relative;
    z-index: 2;

    color: $background-text;
    text-shadow: -3px 3px 10px rgb(0, 0, 0);

    #main-title{
        font-family: 'Playfair Display', serif;
        margin-bottom: 1rem;
    }

    #home-text{
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        margin-left: 1vh; // makes text look aligned with title
    }

}

/*SERVICIOS*/
#servicios{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-bottom: 5rem; // same as h2 top margin
    
    /*centers h3 and content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $background-text;
    color: $background;

    h2{
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        text-shadow: -5px 5px 10px rgb(34, 34, 34, 0.2);
        margin-top: 5rem;
        margin-bottom: auto;
    }

    /*small screens should have services as list*/
    @media (max-width: $toggle-change) {
        #container-servicios {
            max-width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 4rem;
            margin: 0px 12vw 0px 12vw;
        }

        h2 {
            margin-bottom: 3rem;
        }
    }

    /*big screens should have services as grid*/
    @media (min-width: $toggle-change) {
        #container-servicios {
            max-width: max(60vw, 40rem);

            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 50% 50%;
            justify-content: center;
            align-items: center;

            row-gap: 2rem;
            margin: 0px 10vw 0px 10vw;
        }

        h2{
            margin-bottom: 4rem;
        }
    }


    /*refers to each service card*/
    .card-servicios{
        width: 90%;
        height: 100%;
        padding: 1rem;

        // center each card in its "grid box"
        margin-left: auto;
        margin-right: auto;

        /*center each card content*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        

        /*card style*/
        border-radius: 20px;
        box-shadow: -10px -10px 15px rgba(255, 255, 255, 1), 10px 10px 15px rgba(220, 220, 220);

        .card-tag{
            width: 100%;
            min-height: min(6rem, 100vh);
            padding: 1rem;
            margin: 0;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 0.5rem;

            box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 1), inset 10px 10px 15px rgba(220, 220, 220);
            color: $background;
            border-radius: 10px;
            transition: all 0.2s;
        }

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 1rem;
            text-shadow: -5px 5px 10px rgb(34, 34, 34, 0.2);
            margin: 0;
        }

        .descripcion-servicio{
            font-size: 1rem;
            margin-top: 1rem;
        }
    }
   
}



