/*navbar-expand-{-sm|-md|-lg|-xl}*/
/*PC display*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

main {
  width: 100%;
  height: auto;
  background-color: #e5e9f2;
}

/*HOME*/
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
}

#home-img {
  /*container that only has bg image and reduced opacity.
   works with #home bg color to increase readability*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  background-image: url(/images/heroimg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/*query for  hero-text in small vp*/
@media (max-width: 576px) {
  #hero-text {
    margin-left: calc(50px + 0.25rem);
  }
  #main-title {
    font-size: max(7vh, 3.5rem);
  }
  #home-text {
    font-size: max(4vh, 1.5rem);
  }
}
/*query for  hero-text in big vp*/
@media (min-width: 576px) {
  #hero-text {
    margin-left: 15%;
  }
  #main-title {
    font-size: max(10vh, 3.5rem);
  }
  #home-text {
    font-size: max(6vh, 1.5rem);
  }
}
#hero-text {
  /*necesary. otherwise text appears with lower opaccity*/
  position: relative;
  z-index: 2;
  color: #e5e9f2;
  text-shadow: -3px 3px 10px rgb(0, 0, 0);
}
#hero-text #main-title {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}
#hero-text #home-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin-left: 1vh;
}

/*TECH SKILLS & SERVICES*/
#skills, #servicios {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  /*centers h3 and content*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e9f2;
  color: #182b49;
}
#skills h2, #servicios h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-shadow: -5px 5px 10px rgba(34, 34, 34, 0.2);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*SKILLS*/
#skills .container-skills {
  height: auto;
  width: 60%;
  display: grid;
  grid-auto-rows: auto;
}
#skills .container-skills .icon-container {
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -10px -10px 15px rgb(255, 255, 255), 10px 10px 15px rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills .container-skills .icon-container i {
  font-size: 2.7rem;
  object-fit: contain;
}
@media (max-width: 576px) {
  #skills .container-skills {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}
@media (min-width: 576px) {
  #skills .container-skills {
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    row-gap: 2rem;
  }
}

/*SERVICIOS*/
#servicios {
  min-height: 100vh;
  /*small screens should have services as list*/
  /*big screens should have services as grid*/
  /*refers to each service card*/
}
@media (max-width: 576px) {
  #servicios #container-servicios {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0px 12vw 0px 12vw;
  }
  #servicios h2 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 576px) {
  #servicios #container-servicios {
    max-width: max(60vw, 40rem);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    margin: 0px 10vw 0px 10vw;
  }
  #servicios h2 {
    margin-bottom: 4rem;
  }
}
#servicios .card-servicios {
  width: 90%;
  height: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  /*center each card content*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*card style*/
  border-radius: 20px;
  box-shadow: -10px -10px 15px rgb(255, 255, 255), 10px 10px 15px rgb(220, 220, 220);
}
#servicios .card-servicios .card-tag {
  width: 100%;
  min-height: min(6rem, 100vh);
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  box-shadow: inset -10px -10px 15px rgb(255, 255, 255), inset 10px 10px 15px rgb(220, 220, 220);
  color: #182b49;
  border-radius: 10px;
  transition: all 0.2s;
}
#servicios .card-servicios h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: -5px 5px 10px rgba(34, 34, 34, 0.2);
  margin: 0;
}
#servicios .card-servicios .descripcion-servicio {
  font-size: 1rem;
  margin-top: 1rem;
}/*# sourceMappingURL=home.css.map */