$background: rgb(34, 34, 34);
$details: rgb(234, 140, 32);
$background-text: rgb(247, 247, 247);

/*navbar-expand-{-sm|-md|-lg|-xl}*/
$toggle-change: 576px;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

main {
    width: 100%;
    height: auto;
    background-color: black;
}

/*HOME*/
#home{
    height: 100vh;
    

    display: flex; //ensures #hero-text is centered
    align-items: center;
    justify-content: flex-start;

    background-color: black; //sets background color
}

#home-img{
    /*container that only has bg image and reduced opacity.
     works with #home bg color to increase readability*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    opacity: 0.9;

    background-image: url(/images/heroimg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; // ensures img center is always in screen center
}

#hero-text{
    width: auto;
    height: auto;
    max-width: 50%;

    /*necesary. otherwise text appears with lower opaccity*/
    position: relative;
    z-index: 2;

    margin: 7vw;
    color: $background-text;
    text-shadow: -3px 3px 10px rgb(0, 0, 0);

    #main-title{
        font-family: 'Playfair Display', serif;
        margin-bottom: 0rem;
    }

    #home-text{
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        margin-left: 1vh;
    }

    @media (max-width: $toggle-change){
        #main-title {
            font-size: 7vh;
        }
        #home-text{
            font-size: 1rem;
        }
    }
    @media (min-width: $toggle-change){
        #main-title {
            font-size: 10vh;
        }
        #home-text {
            font-size: 4vh;
        }
    }
}

/*SERVICIOS*/
#servicios{
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    /*centers h3 and content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $background-text;
    color: $background;

    h2{
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        text-shadow: -5px 5px 10px rgb(34, 34, 34, 0.2);
    }

    /*small screens should have services as list*/
    @media (max-width: $toggle-change) {
        #container-servicios {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 4rem;
            margin: 0px 12vw 0px 12vw;
        }

        h2 {
            margin-bottom: 3rem;
        }
    }

    /*big screens should have services as table*/
    @media (min-width: $toggle-change) {
        #container-servicios {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;

            margin: 0px 10vw 0px 10vw;
        }

        h2{
            margin-bottom: 4rem;
        }
    }


    /*refers to each service card*/
    .card-servicios{
        width: 100%;
        height: auto;
        padding-top: 0rem;

        /*center each card content*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        /*card style*/
        border: solid thin rgb(34, 34, 34, 0.2);
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0px 5px 10px 2px rgb(32, 32, 32, 0.2);
        transition: all 0.2s; /*helps .car-servicios:hover when "lowering card"*/

        .card-tag{
            width: 80%;
            height: auto;
            padding: 0.5rem 1rem 1rem 1rem;

            background-color: rgb(34,34,34, 0.9);
            color: $background-text;
            border-radius: 0px 0px 8px 8px;
            transition: all 0.2s;
        }

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 1rem;
            margin: 0.5rem 0px 0rem 0px;
        }

        .descripcion-servicio{
            font-size: 1rem;
            margin: 0.5rem 1rem 1rem 1rem;
        }
    }

    .card-servicios:hover{
        /*card style*/
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px rgb(32, 32, 32, 0.3);
        transition: all 0.2s;

        .card-tag{
            background-color: $background;
            box-shadow: 0px 5px 10px rgb(32,32,32, 0.3);
            transition: all 0.2s;
        }
    }

   
}



