/*navbar-expand-{-sm|-md|-lg|-xl}*/
/*PC display*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

#main-title, h2, h3 {
  font-family: "Exo 2", sans-serif;
}

#home-text, #home-btn, .descripcion-servicio, #footer-button, #copyright {
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}

/*HOME*/
#home {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

#home-btn {
  font-weight: bold;
  border-radius: 30px;
  border: none;
  background-color: #E74753;
  color: #FFFFFF;
  transition: all 0.3s;
}

/*query for  hero-text in small vp*/
@media (max-width: 576px) {
  #pc-home-btn {
    display: none;
  }
  #home-img-n-text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  img {
    width: 100%;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  #hero-text {
    position: absolute;
    left: 4%;
    right: auto;
    max-width: 50%;
    color: white;
  }
  #main-title {
    font-size: max(3.1vh, 1.9rem);
    margin-left: 5vw;
    margin-bottom: 0.5rem;
    letter-spacing: auto;
    font-weight: 500;
  }
  #home-text {
    font-size: max(1vh, 1rem);
    margin-left: 12vw;
  }
  #home-btn {
    font-size: 1.1rem;
    padding: 1rem 2rem;
    margin-top: 5rem;
  }
}
/*query for  hero-text in big vp*/
@media (min-width: 576px) {
  #mobile-home-btn {
    display: none;
  }
  #home {
    justify-content: center;
  }
  #home-img-n-text {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "left right";
    overflow-x: hidden;
    align-items: center;
    justify-items: center;
  }
  #hero-text {
    position: relative;
    width: 100%;
    margin-left: 1rem;
    grid-area: left;
    color: black;
  }
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    grid-area: right;
  }
  #main-title {
    font-size: max(100%, 3rem);
    margin-bottom: 1rem;
    font-weight: 700;
  }
  #home-text {
    font-size: max(3vh, 1.5rem);
  }
  #home-btn {
    margin-top: 3rem;
    height: 3.5rem;
    width: 70%;
    font-size: 1.2rem;
  }
  #home-btn:hover {
    background-color: #F22929;
    translate: 0px -2px 0px;
  }
}
#hero-text {
  width: auto;
  z-index: 2;
}

/*TECH SKILLS & SERVICES*/
#skills, #servicios {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  /*centers h3 and content*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  color: #333333;
}
#skills h2, #servicios h2 {
  font-size: 3rem;
  text-shadow: -5px 5px 10px rgba(34, 34, 34, 0.2);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*SKILLS*/
#skills .container-skills {
  height: auto;
  width: 60%;
  display: grid;
  grid-auto-rows: auto;
}
#skills .container-skills .icon-container {
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -10px -10px 15px rgb(255, 255, 255), 10px 10px 15px rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills .container-skills .icon-container i {
  font-size: 2.7rem;
  object-fit: contain;
}
@media (max-width: 576px) {
  #skills .container-skills {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}
@media (min-width: 576px) {
  #skills .container-skills {
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    row-gap: 2rem;
  }
}

/*SERVICIOS*/
#servicios {
  min-height: 100vh;
  /*small screens should have services as list*/
  /*big screens should have services as grid*/
  /*refers to each service card*/
}
@media (max-width: 576px) {
  #servicios #container-servicios {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0px 12vw 0px 12vw;
  }
  #servicios h2 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 576px) {
  #servicios #container-servicios {
    max-width: max(60vw, 40rem);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    margin: 0px 10vw 0px 10vw;
  }
  #servicios h2 {
    margin-bottom: 2rem;
  }
}
#servicios .card-servicios {
  width: 90%;
  height: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  /*center each card content*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*card style*/
  border-radius: 20px;
  box-shadow: -10px -10px 15px rgb(255, 255, 255), 10px 10px 15px rgb(220, 220, 220);
}
#servicios .card-servicios .card-tag {
  width: 100%;
  min-height: min(6rem, 100vh);
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  box-shadow: inset -10px -10px 15px rgb(255, 255, 255), inset 10px 10px 15px rgb(220, 220, 220);
  color: #F22929;
  border-radius: 10px;
  transition: all 0.2s;
}
#servicios .card-servicios h3 {
  font-weight: bold;
  font-size: 1rem;
  text-shadow: -5px 5px 10px rgba(34, 34, 34, 0.2);
  margin: 0;
}
#servicios .card-servicios .descripcion-servicio {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 400;
}

h2 {
  color: #F22929;
}/*# sourceMappingURL=home.css.map */